{{ define "main" }}

<main>
	<div class="catalogue">

    {{ $taxo := "posts" }}
    {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
      {{ range (.Paginate .Pages).Pages }}
        <div class="catalogue-item" style="padding: 0 0 10px 0">
          {{ partial "tags.html" .}}
          {{ .Content }}
        </div>
      {{ end }}
    {{ end }}

	</div>

	<div class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}

    {{ if ( or .Paginator.HasPrev .Paginator.HasNext ) }}
		  <span>{{ .Paginator.PageNumber }}</span>
		{{ end }}
	</div>
</main>

{{ end }}
