{{ define "main" }}

<main>
	<div class="catalogue">

    {{ $taxo := "posts" }}
    {{ $paginator := .Paginate (where .Site.Pages "Type" $taxo) }}
    {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
      {{ range $paginator.Pages }}
        <div class="main-item catalogue-item">
          <div class="metadata">
            {{ partial "tags.html" .}}
            {{ partial "permalink.html" .}}
          </div>

          {{ .Content }}
        </div>
      {{ end }}
    {{ end }}

	</div>

	<div class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}

    {{ if ( or .Paginator.HasPrev .Paginator.HasNext ) }}
		  <span>{{ .Paginator.PageNumber }}</span>
		{{ end }}
	</div>

  <div class="toast">
    <p>Copied to clipboard</p>
  </div>
</main>

{{ end }}
